@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Instagram.ViewModels.InfoByPostViewModel

@{
    ViewBag.Title = "подробние о посте";
    Layout = "_Layout";
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<link rel="stylesheet" href="~/css/post.css" asp-append-version="true"/>
<div class="relative">
    <div class="feed">

        <div class="posting">
            <div class="post">
                <div class="post-image">
                    <img src="@Model.Post.PathFile" alt="Profile photo">
                </div>
                <div class="post-footer">
                    <div class="d-flex align-items-center">
                        <form asp-action="Like" method="post" enctype="multipart/form-data" class="mr-3" asp-antiforgery="true" asp-controller="Posts">
                            <button type="submit" class="btn btn-link text-black text-decoration-none fs-1">
                                <div class="d-flex align-items-center">
                                    <span class="like-count">@Model.Post.Likes.Count</span>
                                    <i class="fas fa-heart mr-2"></i>
                                </div>
                            </button>
                            <input type="hidden" asp-for="Post.Id" value="@Model.Post.Id">
                        </form>
                        <a href="#" class="ms-4 text-decoration-none d-flex align-items-center">
                            <span class="me-3 text-decoration-none text-black fs-3">@Model.Post.Comments.Count</span>
                            <svg aria-label="Comment" class="_8-yf5" fill="#262626" height="24" viewBox="0 0 48 48" width="24">
                                <path clip-rule="evenodd" d="M47.5 46.1l-2.8-11c1.8-3.3 2.8-7.1 2.8-11.1C47.5 11 37 .5 24 .5S.5 11 .5 24 11 47.5 24 47.5c4 0 7.8-1 11.1-2.8l11 2.8c.8.2 1.6-.6 1.4-1.4zm-3-22.1c0 4-1 7-2.6 10-.2.4-.3.9-.2 1.4l2.1 8.4-8.3-2.1c-.5-.1-1-.1-1.4.2-1.8 1-5.2 2.6-10 2.6-11.4 0-20.6-9.2-20.6-20.5S12.7 3.5 24 3.5 44.5 12.7 44.5 24z" fill-rule="evenodd"></path>
                            </svg>
                        </a>
                    </div>

                    <div class="description-and-comments" id="DesComment">
                        <div class="post-footer-description ">
                            <a href="#" class="post-footer-description-author user">@Model.Post.Creater.UserName</a>
                            <span>@Model.Post.Decription</span>
                        </div>
                        <div class="comments">
                            @foreach (var comment in Model.Post.Comments)
                            {
                                <div class="comment-post">
                                    <span class="comment-author user">Пользователь оставил комментарий: @comment.User.UserName:</span>
                                    <p class="comment-text">@comment.Description</p>
                                    <p>
                                        <div class="post-footer-relase">
                                            @comment.CreateDate
                                        </div>
                                    </p>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="post-footer-add-comment">
                        <form id="comment" method="post" asp-action="AddСomment" enctype="multipart/form-data" asp-antiforgery="true" asp-controller="Posts">
                            <textarea aria-label="Add a comment…" placeholder="Добавить коментарий…" class="post-footer-comment-input" asp-for="Comment"></textarea>
                            <span asp-validation-for="Comment" class="text-danger"></span>
                            <button type="submit">Отправить</button>
                            <input type="hidden" asp-for="Post.Id" value="@Model.Post.Id"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}